@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}


.add-question-main{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;

}


.add-question-section{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    background-color: honeydew;
    border-radius: 20px;
    -webkit-box-shadow: -1px 1px 18px 0px rgba(195,199,151,1);
-moz-box-shadow: -1px 1px 18px 0px rgba(195,199,151,1);
box-shadow: -1px 1px 18px 0px rgba(195,199,151,1);
padding: 20px 0px 20px 0px;
}

.add-question-section label:not(:last-child){
    margin-bottom: 20px;
}

.add-question-section input:not(:last-child){
    margin-bottom: 50px;
}

.add-question-section select:not(:last-child){
    margin-bottom: 30px;
}