.profile_banner{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 5px 2px 5px 0px rgba(187,201,200,1);
    -moz-box-shadow: 5px 2px 5px 0px rgba(187,201,200,1);
    box-shadow: 5px 2px 5px 0px rgba(187,201,200,1);
   
}

.profile-banner label:first-child{
    margin-top: 20px;
}

.profile-banner label:not(:last-child){
    margin-bottom: 30px;
    
}

#prof-info{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
}